In [45]:
import pandas as pd

df = pd.read_csv('C:/Users/Usuário/ipynb/Data_Transforming_Using_Python_in_Power_BI/dados_alugueis.csv', sep = ';')

df.fillna(0, inplace=True)

df = df.astype({'Valor':'int', 'Condominio':'int', 'IPTU':'int'})

df['Total Mensal'] = df['Valor'] + df['Condominio'] + (df['IPTU'] / 12)

df = df.astype({'Valor':'int', 'Condominio':'int', 'IPTU':'int'})

df = df.astype({'Total Mensal':'int'})

df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Total Mensal
0,Quitinete,Copacabana,1,0,0,40,1700,500,60,2205
1,Casa,Jardim Botânico,2,0,1,100,7000,0,0,7000
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020,1111,9312
3,Apartamento,Centro,1,0,0,15,800,390,20,1191
4,Apartamento,Higienópolis,1,0,0,48,800,230,0,1030
...,...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800,350,25,1152
32956,Apartamento,Jacarepaguá,3,1,2,78,1800,800,40,2603
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400,509,37,1912
32958,Apartamento,Leblon,2,0,0,70,3000,760,0,3760
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500,4206,1109,10798

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Total Mensal
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2205.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,9313.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1192.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1152.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2603.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1912.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0,10798.0